<!-- TABLA DE PRESTAMOS CON BUSCADOR -->
<section class="section">
    <div class="row" id="table-striped">
        <div class="col-12">
            <div class="card">
                
                <div class="card-content">
                    

                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <input type="text" 
                                     class="form-control"
                                     placeholder="Buscar préstamos ..."/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="alert alert-info text-center">
                                <h4 class="alert-heading">Cargando</h4>
                                <div class="spinner-border text-light" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                                <p class="mb-0">Por favor espere</p>
                            </div>
                        </div>
                    </div>

                    <!-- table striped -->
                    <div class="table-responsive">
                        <table class="table table-striped mb-0">
                            <thead>
                                <tr>
                                    <th>nro préstamo</th>
                                    <th>fecha</th>
                                    <th>elemento</th>
                                    <th>persona</th>
                                    <th>observaciones</th>
                                    <th>fecha devolución</th>
                                    <th>usuario</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let prestamo of prestamos">
                                    <td>{{prestamo.pid}}</td>
                                    <td>{{prestamo.fechaCreacion}}</td>
                                    <td>{{prestamo.elemento}}</td>
                                    <td>{{prestamo.persona}}</td>
                                    <td>{{prestamo.observaciones}}</td>
                                    <td>{{prestamo.fechaVencimiento}}</td>
                                    <td>{{prestamo.usuario}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <button (click)="cambiarPagina(-5)" class="btn btn-secondary">Anteriores</button>
                    &nbsp;
                    <button (click)="cambiarPagina(5)" class="btn btn-secondary">Siguientes</button>
                </div>
                
            </div>
        </div>
    </div>
</section>

<!-- Striped rows end -->