<div class="card-body">
  <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="opcion1" [(ngModel)]="opcionSeleccionada">
      <label class="form-check-label" for="flexRadioDefault1">
          Buscar por nombre
      </label>
  </div>
  <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="opcion2" [(ngModel)]="opcionSeleccionada">
      <label class="form-check-label" for="flexRadioDefault2">
          Filtrar por carrera
      </label>
  </div>
</div>




<div class="row" *ngIf="opcionSeleccionada === 'opcion1'" >
<div class="col-12">
<div class="card">
  <div class="card-body">
      <input type="text"
       class="form-control"
       placeholder="Buscar personas ..."
       (keyup.enter)="buscarPersonas( buscadorPersonas.value)"
       #buscadorPersonas
       name="criterioBusquedaP"
       [(ngModel)]="criterioBusquedaP"

       />
  </div>
</div>
</div>
</div>

<div class="col-md-6 mb-4" *ngIf="opcionSeleccionada === 'opcion2'" >

<div class="form-group">
<select class="choices form-select" #nombreC (change)="onCarreraChange(nombreC.value)">
  <option value="" disabled selected>Selecciona una carrera</option>
  <option *ngFor="let carrera of carreras" [value]="carrera._id">{{carrera.nombreCarrera}}</option>

</select>
</div>
</div>
