<!-- TABLA DE CARRERAS CON BUSCADOR -->
<section class="section">
  <div class="row" id="table-striped">
    <div class="col-12">
      <div class="card">

        <div class="card-content">


          <app-buscador-carreras (buscarCarrera)="buscarCarreras($event)"></app-buscador-carreras>


          <div class="row" *ngIf="mostrar">
            <div class="col-12">
              <div class="alert alert-info text-center">
                <h4 class="alert-heading">Cargando</h4>
                <div class="spinner-border text-light" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
                <p class="mb-0">Por favor espere</p>
              </div>
            </div>
          </div>

          <!--BOTÓN AGREGAR -->
          <app-agregar-carreras [mostrar]="mostrar" (carreraAgregada)="agregarCarrera($event)"></app-agregar-carreras>

          <!-- table striped -->
          <!-- INICIO DIV QUE ENGLOBA BOTÓN AGREGAR + TABLA + BOTONES DE NAVEGACION  -->
          <app-tabla-carreras [carreras]="carreras" (editarCarrera)="formeditarCarrera($event)"></app-tabla-carreras>
          <!-- FIN DIV QUE ENGLOBA BOTÓN AGREGAR + TABLA + BOTONES DE NAVEGACION  -->


        </div>
        <!-- FIN DIV QUE ENGLOBA BOTÓN AGREGAR + TABLA + BOTONES DE NAVEGACION  -->
      </div>

      <div *ngIf="carreras.length === 0" class="alert alert-warning text-center">
        No hay registros para mostrar
      </div>

    </div>
  </div>

</section>

<!-- Striped rows end -->

<!--login form Modal -->
<div class="modal fade text-left" id="editFormC" tabindex="-1" role="dialog"
aria-labelledby="myModalLabel33" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
    role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel33">Editar carrera </h4>
            <button type="button" class="close" data-bs-dismiss="modal"
                aria-label="Close">
                <i data-feather="x"></i>
            </button>
        </div>
        <form action="#">
            <div class="modal-body">
                <label>Nombre de la carrera: </label>
                <div class="form-group">
                    <input type="text" placeholder="Nombre" name="nCarrera"
                        [(ngModel)]="nCarrera"
                        class="form-control">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-secondary"
                    data-bs-dismiss="modal">
                    <i class="bx bx-x d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">Cerrar</span>
                </button>
                <button type="button" class="btn btn-primary ml-1"
                    data-bs-dismiss="modal" (click)="editarCarrera()" >
                    <i class="bx bx-check d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">Editar</span>
                </button>
            </div>
        </form>
    </div>
</div>
</div>
<!-- Fin modal-->
