<div class="card-body">
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="opcion1"
      [(ngModel)]="opcionSeleccionada">
    <label class="form-check-label" for="flexRadioDefault1">
      Buscar por nro de Reparación
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="opcion2"
      [(ngModel)]="opcionSeleccionada">
    <label class="form-check-label" for="flexRadioDefault2">
      Buscar por Elemento
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" value="opcion3"
      [(ngModel)]="opcionSeleccionada">
    <label class="form-check-label" for="flexRadioDefault3">
      Buscar por rango de fechas
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4" value="opcion4"
      [(ngModel)]="opcionSeleccionada">
    <label class="form-check-label" for="flexRadioDefault4">
      Buscar por estado
    </label>
  </div>
</div>




<div class="row" *ngIf="opcionSeleccionada === 'opcion1'">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input type="text" class="form-control" placeholder="Buscar por nro de reparación ..."
          (keyup.enter)="buscarPorNro( buscadorNro.value)" #buscadorNro name="criterioBusquedaP"
          [(ngModel)]="criterioBusquedaP" />
      </div>
    </div>
  </div>
</div>

<div class="col-md-6 mb-4" *ngIf="opcionSeleccionada === 'opcion2'">

  <div class="form-group">
    <select class="choices form-select" #nombreE (change)="onElementoChange(nombreE.value)">
      <option value="" disabled selected>Selecciona un Elemento</option>
      <option *ngFor="let elemento of elementos" [value]="elemento._id">{{elemento.descripcion}}</option>

    </select>
  </div>
</div>

<!-- BUSCAR POR FECHAS-->
<div class="col-md-6 mb-4" *ngIf="opcionSeleccionada === 'opcion3'">

  <div class="datepicker-container">
    <mat-form-field appearance="outline">
      <mat-label>Selecciona una fecha desde</mat-label>
      <input matInput [matDatepicker]="pickerDesde" [(ngModel)]="fechaDesde">
      <mat-datepicker-toggle matSuffix [for]="pickerDesde"></mat-datepicker-toggle>
      <mat-datepicker #pickerDesde></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="datepicker-container">
    <mat-form-field appearance="outline">
      <mat-label>Selecciona fecha hasta</mat-label>
      <input matInput [matDatepicker]="pickerHasta" [(ngModel)]="fechaHasta">
      <mat-datepicker-toggle matSuffix [for]="pickerHasta"></mat-datepicker-toggle>
      <mat-datepicker #pickerHasta></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="datepicker-container">
    <button type="submit" class="btn btn-primary me-1 mb-1" (click)="buscarPorfecha()">Buscar</button>

  </div>
</div>


<div class="col-md-6 mb-4" *ngIf="opcionSeleccionada === 'opcion4'">

  <div class="form-group">
    <select class="choices form-select" #Estado (change)="onEstadoRepChange(Estado.value)">
      <option value="" disabled selected>Selecciona un Estado</option>
      <option value="En proceso" >En proceso</option>
      <option value="Esperando repuesto" >Esperando repuesto</option>
    </select>
  </div>
</div>
