<!-- TABLA DE ELEMENTOS CON BUSCADOR -->
<section class="section">
    <div class="row" id="table-striped">
        <div class="col-12">
            <div class="card">
                
                <div class="card-content">
                
                            <div class="card-body">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="opcion1" [(ngModel)]="opcionSeleccionada">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Buscar por nombre
                                    </label> 
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="opcion2" [(ngModel)]="opcionSeleccionada">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        Filtrar por categoria
                                    </label>
                                </div>
                            </div>
                        

                       

                    <div class="row" *ngIf="opcionSeleccionada === 'opcion1'" >
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <input type="text" 
                                     class="form-control"
                                     placeholder="Buscar personas ..."
                                     (keyup.enter)="buscarPersonas( buscadorPersonas.value)"
                                     #buscadorPersonas
                                     name="criterioBusquedaP"
                                     [(ngModel)]="criterioBusquedaP"
                                   
                                     />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 mb-4" *ngIf="opcionSeleccionada === 'opcion2'" >
                        
                        <div class="form-group">
                            <select class="choices form-select" #nombreC>
                                <option value="" disabled selected>Selecciona una carrera</option>
                                <option *ngFor="let elemento of elementos" [value]="elemento._id">{{elemento.nombreElemento}}</option>
                                
                            </select>
                        </div>
                    </div>            

                    <div class="row" *ngIf="mostrar">
                        <div class="col-12">
                            <div class="alert alert-info text-center">
                                <h4 class="alert-heading">Cargando</h4>
                                <div class="spinner-border text-light" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                                <p class="mb-0">Por favor espere</p>
                            </div>
                        </div>
                    </div>
                
                    <div class="row" *ngIf="mostrar == false">
                        <div class="col-12">
                            <button class="btn btn-success" data-bs-toggle="modal"
                            data-bs-target="#inlineForm">
                                <i class="bi bi-plus-circle"></i>
                                Agregar Persona</button>
                        </div>
                    </div>
                    <!--Alta persona form Modal -->
                    <div class="modal fade text-left" id="inlineForm" tabindex="-1" role="dialog"
                    aria-labelledby="myModalLabel33" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
                        role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel33">Agregar una persona </h4>
                                <button type="button" class="close" data-bs-dismiss="modal"
                                    aria-label="Close">
                                    <i data-feather="x"></i>
                                </button>
                            </div>
                            <form  action="#">
                                <div class="modal-body">
                                    
                                    <div class="btn-group dropend mb-1">
                                        <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false" >
                                            Selecciona Carrera/s
                                        </button>
                                        <div class="dropdown-menu">
                                            <div class="form-group">
                                                <div class="checkbox" *ngFor="let elemento of elementos" >
                                                    <input name="checkAgregar" type="checkbox" class="checkbox-input">
                                                    <label for="dropdownCheck">{{elemento.nombreElemento}}</label>
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                
                            </div>
                                <div class="modal-body">
                                    <label>ID: </label>
                                    <div class="form-group">
                                        <input type="text" placeholder="Dni" name="dniPersona"
                                            [(ngModel)]="idElemento"
                                            class="form-control">
                                    </div>
                                </div>
                                <div class="modal-body">
                                    <label>Nombre del Elemento: </label>
                                    <div class="form-group">
                                        <input type="text" placeholder="Nombre" name="nPersona"
                                            [(ngModel)]="nElemento"
                                            class="form-control">
                                    </div>
                                </div>
                               
                                
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light-secondary"
                                        data-bs-dismiss="modal" (click)="cancelarFormulario()" >
                                        <i class="bx bx-x d-block d-sm-none"></i>
                                        <span class="d-none d-sm-block">Close</span>
                                    </button>
                                    <button type="button" class="btn btn-primary ml-1"
                                        data-bs-dismiss="modal" (click)="registrarElemento()" >
                                        <i class="bx bx-check d-block d-sm-none"></i>
                                        <span class="d-none d-sm-block">Guardar</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- fin alta persona modal -->
                <!-- DIV QUE ENGLOBA BOTÓN AGREGAR + TABLA + BOTONES DE NAVEGACION  -->
                <div *ngIf="elemento.length > 0">
                     

                    <!-- table striped -->
                    
                    <div class="table-responsive">
                        <table class="table table-striped mb-0">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Elemento</th>
                                    <th>Acción</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let elemento of elementos">
                                   <td>{{elemento.nombre}}</td>
                                   <td>
                                    <ul style="list-style-type: none;">
                                        <li *ngFor="let elemento of elementos">{{elemento.nombreElemento}}</li>
                                    </ul>
                                   </td>
                                    <td>
                                        <div class="buttons">
                                            <a (click)="FormeditarElemento(elemento.nombre, elemento._id, elemento.nombre)" class="btn icon btn-warning" data-bs-toggle="modal"
                                            data-bs-target="#editForm"> <i class="bi bi-pencil-square"></i></a>
                                            <a (click)="eliminar(elemento._id)" class="btn icon btn-danger"><i class="bi bi-trash"></i></a>

                                                        <!--login form Modal -->
                                                        <div class="modal fade text-left" id="editForm" tabindex="-1" role="dialog"
                                                        aria-labelledby="myModalLabel33" aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
                                                            role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h4 class="modal-title" id="myModalLabel33">Editar persona </h4>
                                                                    <button type="button" class="close" data-bs-dismiss="modal"
                                                                        aria-label="Close">
                                                                        <i data-feather="x"></i>
                                                                    </button>
                                                                </div>
                                                                <form action="#">
                                                                    <div class="modal-body">
                                                                    <div class="btn-group dropend mb-1">
                                                                        <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown"
                                                                            aria-haspopup="true" aria-expanded="false">
                                                                            Selecciona Carrera/s
                                                                        </button>
                                                                        <div class="dropdown-menu">
                                                                            <div class="form-group">
                                                                                <div class="checkbox" *ngFor="let elemento of elementos" >
                                                                                    <!-- 
                                                                                    <input type="checkbox" class="checkbox-input" [checked]="elementosSeleccionados.includes(carrera._id)" (change)="checkValue(carrera)">
                                                                                    <label for="dropdownCheck1">{{elemento.nombreElemento}}</label>
                                                                                    -->
                                                                                </div>
                                                                                
                                                                            </div>
                                                                            
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            
                                                                <div class="modal-body">
                                                                    <label>DNI: </label>
                                                                    <div class="form-group">
                                                                        <input type="text" placeholder="Dni" name="dniPersona"
                                                                            [(ngModel)]="idElemento"
                                                                            class="form-control">
                                                                    </div>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <label>Nombre de la persona: </label>
                                                                    <div class="form-group">
                                                                        <input type="text" placeholder="Nombre" name="nPersona"
                                                                            [(ngModel)]="nElemento"
                                                                            class="form-control">
                                                                    </div>
                                                                </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-light-secondary"
                                                                            data-bs-dismiss="modal" (click)="cancelarFormulario()" >
                                                                            <i class="bx bx-x d-block d-sm-none"></i>
                                                                            <span class="d-none d-sm-block">Cerrar</span>
                                                                        </button>
                                                                        <button type="button" class="btn btn-primary ml-1"
                                                                            data-bs-dismiss="modal"  >
                                                                            <i class="bx bx-check d-block d-sm-none"></i>
                                                                            <span class="d-none d-sm-block">Editar</span>
                                                                        </button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Fin modal-->
                          
                                        </div>
                                        
                                    </td>
                                    
                                </tr>
                                       
                            </tbody>
                        </table>
                    </div>
                
                    <br> <!--
                    <button [ngClass]=" desde < 5 ? 'btn disabled' : ''" (click)="cambiarPagina(-5)" class="btn btn-secondary">Anteriores</button>
                    &nbsp;
                   
                    <button [ngClass]=" this.elementos.length < 5 || (desde + 5) === totalElementos ? 'btn disabled' : ''" (click)="cambiarPagina(5)" class="btn btn-secondary">Siguientes</button>
                     -->
                </div>
                <!-- FIN DIV QUE ENGLOBA BOTÓN AGREGAR + TABLA + BOTONES DE NAVEGACION  -->
                </div>
                <br>
                <div *ngIf="elementos.length === 0" class="alert alert-warning text-center">
                    No hay registros para mostrar
                </div>
                
            </div>
        </div>
    </div>
</section>

<!-- Striped rows end -->

